*{
    margin:0;
    padding:0;
}
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  
/*

green:#559a72
pink:#bb455e
white:#ffffff
*/
body{

    background-color: #ffffff;
    overflow: hidden;
}

.flowers{
    display: flex;
    justify-content: space-between;
}

.flower{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: fit-content;
    animation-name:flowerRotate ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
    
}
.petal{
    width: 100px;
    height: 100px;
    background: linear-gradient(135deg,#000,#D3009D,#5E00A8);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    
}

.one{
    transform: rotate(180deg);
}
.two{
    transform: rotate(270deg);
}
.three{
    transform: rotate(90deg);
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(#000,#af28af);
    position: absolute;
   top:75px;
   left:75px;
}


@keyframes flowerRotate{
   0%{
    scale: 0;
   }
   50%{
    scale: 1;
   }
   100%{
    scale:0;
   }
}




.container{
    width: 100%;
    height: 155px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    overflow: hidden;

}
.alwerd-alkareem{
    width: 1200px;
    height: 700px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 6rem;
   padding: 150px 30px;
   animation: drop 15s  1s infinite ;
   color: #559a72;
}

@keyframes drop{
    0%{
        transform: translateY(0);
    }
    30%{
        transform: translateY(-145px);
    }
    50%{
        transform:translateY(-435px);
    }
    70%{
        transform: translateY(-725px);
    }
    77%{
        transform: translateY(-725px);
    }
    84%{
        transform: translateY(-435px);
    }
    91%{
        transform:translateY(-145px);
    }
    98%{
        transform: translateY(0);
    }
   
    
}

#second-flower{
    position: relative;
   left: 160px;
}

@media (max-width:700px) {
    .alwerd-alkareem{
        font-size: 2rem;
    }
    
}